# Python
__pycache__
__pycache__/
env/
site/
/site
/site/
site

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads
cypress/results

# Node
node_modules

# IDE files 
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
