body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    color: white;
}
#main-content {
    flex: 1;
}

.terminal {
    background-color: #3f3f3f;
    color: #fff;
    padding: 10px;
    font-family: monospace;
    width: 100%; 
    height: auto; 
    overflow: auto;
    border-radius: 10px;
}

.text-dark-green {
    color: #044B05; /* This is a dark green color */
}

.logo {
    width: 15%; /* Adjust as needed */
    height: auto;
}

.logo-small {
    width: 35%; /* Adjust as needed */
    height: auto;
}

@media (min-width: 768px) {
    .terminal {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .terminal {
        width: 25vw;
    }
}