body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    color: black;
}

#main-content {
    flex: 1;
    position: relative;
    z-index: 1;
}

.text-dark-green {
    color: #044B05; 
}

.logo-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.logo-container-docs {
    margin-left: -240px /* Adjust as needed */!important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar-example2 {
    background-color: #044B05; /* This is your dark green color */
    color: #ff7300; /* This is your orange color for the text */
}

#navbar-example2 .nav-link {
    color: #ffffff; /* This is your orange color for the links */
    font-size: 0.9rem; /* Adjust as needed */
}

#navbar-example2 .nav-link:hover {
    color: #fff; /* This is white color for the hover state */
}

#navbar-example2 .nav-link.active {
    color: #ffffff; /* This is your green color for the active link */
    background-color: #ff7300; /* This is your orange color for the active link background */
}

h2 {
    color: #044B05;
}

footer {
    background-color: #044B05;
    color: #ffffff;
}
